* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica;
    background-image: linear-gradient(to right, rgb(0, 0, 60), rgb(0, 120, 155));
}

main {
    height: 700px;
    width: 400px;
    background-color: rgba(0, 0, 75, 0.5);
    border-radius: 25px;
    padding: 30px;
}

main fieldset {
    height: 99%;
    width: 99%;
    border: 2px solid rgb(0, 70, 115);
    color: rgba(230, 230, 230, 0.9);
    border-radius: 25px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main fieldset legend {
    font-size: 30px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(0, 80, 130);
}

main fieldset form {
    height: inherit;
    width: inherit;
    font-size: 17px;
}

main fieldset form .inputBox {
    margin-bottom: 20px;
}

main fieldset form .inputBox label {
    display: block;
}

main fieldset form .inputBox input {
    height: 30px;
    width: 275px;
    padding: 5px;
    background-color: black;
    border: 1px solid black;
}

main fieldset .inputGender {
    border: 2px solid rgb(0, 80, 130);
    width: 275px;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
}

main fieldset .nameBox {
    display: block;
    margin-bottom: 10px;
}

main fieldset .boxSelection {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

main fieldset .boxSelection .itemSelection {
    margin-right: 10px;
}

main fieldset input[type="submit"] {
    margin-top: 30px;
    height: 50px;
    width: 275px;
    background-image: linear-gradient(to right, rgb(90, 0, 200), rgb(0, 150, 255));
    border: 2px solid rgb(0, 80, 130);
    font-size: 20px;
    text-transform: uppercase;
    color: rgba(230, 230, 230, 0.9);
}